# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [57]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
df= pd.read_csv(url)
df

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.shape

In [58]:
len(df)

4008

In [59]:
len(df.columns)

11

In [60]:
df.dtypes

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

In [62]:
df['Number of Open Complaints'].value_counts()

Number of Open Complaints
1/0/00    830
1/1/00    138
1/2/00     50
1/3/00     34
1/4/00     13
1/5/00      6
Name: count, dtype: int64

In [63]:
df['Customer Lifetime Value (%)'] = df['Customer Lifetime Value'].str.replace('%','').astype('float') # Cleaning percentage and changing type

In [64]:
df.dtypes

Customer                        object
ST                              object
GENDER                          object
Education                       object
Customer Lifetime Value         object
Income                         float64
Monthly Premium Auto           float64
Number of Open Complaints       object
Policy Type                     object
Vehicle Class                   object
Total Claim Amount             float64
Customer Lifetime Value (%)    float64
dtype: object

In [39]:
df.select_dtypes(include='object').nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Number of Open Complaints       6
Policy Type                     3
Vehicle Class                   6
dtype: int64

In [43]:
for name_column in df.select_dtypes(include='object').columns:
    print(f'For the Categorical column {name_column} we have the values {df[name_column].unique()}')

For the column Customer we have the values ['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]
For the column ST we have the values ['Washington' 'Arizona' 'Nevada' 'California' 'Oregon' 'Cali' 'AZ' 'WA'
 nan]
For the column GENDER we have the values [nan 'F' 'M' 'Femal' 'Male' 'female']
For the column Education we have the values ['Master' 'Bachelor' 'High School or Below' 'College' 'Bachelors' 'Doctor'
 nan]
For the column Number of Open Complaints we have the values ['1/0/00' '1/2/00' '1/1/00' '1/3/00' '1/5/00' '1/4/00' nan]
For the column Policy Type we have the values ['Personal Auto' 'Corporate Auto' 'Special Auto' nan]
For the column Vehicle Class we have the values ['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury SUV' 'Sports Car'
 'Luxury Car' nan]

In [45]:
for name_column in df.select_dtypes(include='number').columns:
    print(f'For the Numerical column {name_column} we have the min value {df[name_column].min()} and the max value of {df[name_column].max()}')

For the Numerical column Customer Lifetime Value we have the min value 200435.07 and the max value of 5816655.35
For the Numerical column Income we have the min value 0.0 and the max value of 99960.0
For the Numerical column Monthly Premium Auto we have the min value 61.0 and the max value of 35354.0
For the Numerical column Total Claim Amount we have the min value 0.382107 and the max value of 2893.239678

In [46]:
df.describe(include='object')
# 5 unique values for the gender, needs to be cleaned
# Top state Oregon, needs to be cleaned
# Most of the policies are personal, is correct

,Customer,ST,GENDER,Education,Number of Open Complaints,Policy Type,Vehicle Class
count,1071,1071,954,1071,1071,1071,1071
unique,1071,8,5,6,6,3,6
top,RB50392,Oregon,F,Bachelor,1/0/00,Personal Auto,Four-Door Car
freq,1,320,457,324,830,780,576

In [50]:
df['GENDER'].value_counts()

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [51]:
df['ST'].value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [52]:
df['Policy Type'].value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [49]:
df.describe().round(2)
# A lot of incomes are 0
# Very high Monthly Premium Auto
# Values of Total claim amount are super weird

,Customer Lifetime Value,Income,Monthly Premium Auto,Total Claim Amount
count,1068.00,1071.00,1071.00,1071.00
mean,793690.26,39295.70,193.23,404.99
std,643478.41,30469.43,1601.19,293.03
min,200435.07,0.00,61.00,0.38
25%,403408.00,14072.00,68.00,202.16
50%,588174.24,36234.00,83.00,354.73
75%,896287.20,64631.00,109.50,532.80
max,5816655.35,99960.00,35354.00,2893.24

In [54]:
df.sort_values(by='Income').head(50)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
572,IU47468,Oregon,F,Bachelor,616555.75,0.0,88.0,1/0/00,Special Auto,Two-Door Car,653.656680
567,WT43034,California,F,High School or Below,1250084.30,0.0,165.0,1/0/00,Personal Auto,SUV,792.000000
184,AB13432,California,M,Bachelor,373583.81,0.0,110.0,1/0/00,Personal Auto,SUV,792.000000
565,XS12556,California,F,College,368309.99,0.0,101.0,1/0/00,Corporate Auto,Sports Car,564.466556
559,SH55671,Arizona,F,College,1141344.12,0.0,161.0,1/1/00,Personal Auto,Sports Car,772.800000
554,MN94234,California,M,High School or Below,310756.86,0.0,94.0,1/4/00,Personal Auto,Two-Door Car,451.200000
545,AW73065,Oregon,F,High School or Below,279190.65,0.0,74.0,1/0/00,Personal Auto,Four-Door Car,532.800000
191,XK33449,California,F,High School or Below,238373.19,0.0,69.0,1/0/00,Special Auto,Two-Door Car,496.800000
543,MY97912,Arizona,Male,College,1330933.52,0.0,127.0,1/0/00,Personal Auto,SUV,609.600000
194,EN21086,Arizona,F,High School or Below,688909.80,0.0,63.0,1/0/00,Personal Auto,Four-Door Car,302.400000
538,OQ61223,California,Male,College,1749752.20,0.0,73.0,1/0/00,Personal Auto,Two-Door Car,350.400000
537,GK71720,Oregon,F,High School or Below,606434.40,0.0,86.0,1/0/00,Personal Auto,Four-Door Car,545.240341
198,EH41854,WA,F,High School or Below,2370611.34,0.0,96.0,1/1/00,Personal Auto,Two-Door Car,844.481918
533,BT30554,Arizona,F,Bachelor,1034632.45,0.0,98.0,1/0/00,Personal Auto,Four-Door Car,470.400000
574,RB34917,Arizona,F,Bachelor,516211.69,0.0,73.0,1/0/00,Personal Auto,Four-Door Car,809.532341
531,RD62882,Arizona,F,Bachelor,684615.03,0.0,95.0,1/0/00,Personal Auto,Two-Door Car,456.000000
523,GE82737,Nevada,F,Bachelor,533735.24,0.0,86.0,1/3/00,Personal Auto,Four-Door Car,619.200000
203,ZX64745,California,M,College,792313.66,0.0,113.0,1/0/00,Personal Auto,SUV,1124.427734
204,FL34139,California,M,High School or Below,368811.09,0.0,63.0,1/3/00,Personal Auto,Four-Door Car,669.682001
205,TS11219,California,M,College,1206745.60,0.0,116.0,1/0/00,Personal Auto,SUV,1284.093173
522,ZZ97035,California,M,College,2071494.04,0.0,203.0,1/0/00,Corporate Auto,Luxury Car,2027.724442
518,ZX23819,Oregon,F,High School or Below,798408.65,0.0,72.0,1/0/00,Personal Auto,Two-Door Car,866.208321
515,XR70252,California,F,High School or Below,478893.26,0.0,67.0,1/1/00,Personal Auto,Two-Door Car,321.600000
514,RM41745,California,F,High School or Below,827878.65,0.0,110.0,1/0/00,Personal Auto,Four-Door Car,1002.782553
513,BX94438,California,F,High School or Below,847003.68,0.0,113.0,1/0/00,Corporate Auto,SUV,619.973889
502,PX17116,Nevada,M,College,362345.42,0.0,111.0,1/2/00,Corporate Auto,SUV,1171.931170
501,OS46571,California,M,High School or Below,688955.70,0.0,66.0,1/0/00,Personal Auto,Four-Door Car,475.200000
497,KA89683,AZ,F,High School or Below,252317.12,0.0,70.0,1/0/00,Personal Auto,Four-Door Car,504.000000
493,SM73248,AZ,M,High School or Below,1153750.51,0.0,86.0,1/1/00,Corporate Auto,Two-Door Car,619.200000
487,PH26378,California,M,College,601996.05,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,662.400000
524,KY21873,Arizona,M,College,505082.62,0.0,69.0,1/0/00,Personal Auto,Two-Door Car,72.852047
180,IU25463,California,F,Bachelor,1225260.18,0.0,115.0,1/1/00,Personal Auto,Four-Door Car,552.000000
581,PR53785,Arizona,F,High School or Below,745723.78,0.0,198.0,1/1/00,Personal Auto,Luxury Car,1577.674417
584,KI56154,Nevada,M,High School or Below,904898.34,0.0,119.0,1/0/00,Personal Auto,Sports Car,571.200000
140,DS81757,Oregon,M,College,247012.12,0.0,74.0,1/0/00,Personal Auto,Two-Door Car,721.242206
668,TC14209,Arizona,F,High School or Below,909574.46,0.0,128.0,1/0/00,Personal Auto,SUV,921.600000
142,LP84436,California,F,High School or Below,904711.92,0.0,127.0,1/0/00,Personal Auto,Sports Car,1087.995426
666,SS59521,Oregon,F,College,477025.66,0.0,68.0,1/1/00,Personal Auto,Two-Door Car,326.400000
144,LM19287,Oregon,F,High School or Below,373150.46,0.0,96.0,1/0/00,Personal Auto,Four-Door Car,460.800000
663,WP41146,California,F,High School or Below,534143.88,0.0,72.0,1/1/00,Personal Auto,Four-Door Car,345.600000
146,AZ82578,California,F,College,792882.93,0.0,72.0,1/0/00,Corporate Auto,Four-Door Car,345.600000
659,QR45101,Oregon,M,Bachelor,662461.18,0.0,62.0,1/0/00,Corporate Auto,Two-Door Car,297.600000
304,RR77985,Oregon,F,Bachelor,288774.23,0.0,80.0,1/0/00,Personal Auto,Four-Door Car,676.944023
655,PI78084,Arizona,M,High School or Below,507732.09,0.0,73.0,1/0/00,Personal Auto,Two-Door Car,525.600000
652,JH91579,Oregon,F,Bachelor,684615.03,0.0,95.0,1/0/00,Personal Auto,Two-Door Car,456.000000
649,RA68844,Oregon,M,College,959995.02,0.0,131.0,1/0/00,Personal Auto,SUV,943.200000
645,JA41698,Nevada,M,Bachelor,309953.80,0.0,102.0,1/5/00,Corporate Auto,SUV,862.762957
630,FV19421,California,M,Bachelor,778099.93,0.0,74.0,1/0/00,Personal Auto,Four-Door Car,246.489123
628,AW18068,Arizona,M,High School or Below,946850.93,0.0,88.0,1/0/00,Personal Auto,Two-Door Car,633.600000

In [55]:
df.sort_values(by='Monthly Premium Auto',ascending=False).head(50)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
44,YD87931,Washington,M,Doctor,495165.61,46896.0,35354.0,1/1/00,Personal Auto,Four-Door Car,31.707317
856,QZ77637,Washington,F,College,1166509.78,84978.0,35353.0,1/1/00,Corporate Auto,Four-Door Car,166.772960
747,JT11876,WA,F,High School or Below,543576.78,0.0,10202.0,1/0/00,Personal Auto,Four-Door Car,626.116259
869,ER19995,Washington,F,College,1778627.78,99790.0,6464.0,1/0/00,Personal Auto,Four-Door Car,178.986788
354,CI38330,Washington,M,Bachelor,254978.61,72217.0,6464.0,1/0/00,Personal Auto,Four-Door Car,91.146661
741,AC40767,Washington,M,Bachelors,249780.82,68041.0,6464.0,1/0/00,Personal Auto,Two-Door Car,165.570243
114,SG20925,Washington,F,Master,518579.76,99428.0,6464.0,1/1/00,Personal Auto,Four-Door Car,48.046869
274,AY40674,WA,F,Bachelor,482141.85,26583.0,1005.0,1/4/00,Personal Auto,SUV,614.400000
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
832,YX89016,Oregon,M,College,3493100.17,35005.0,295.0,1/0/00,Personal Auto,Luxury Car,1416.000000
1011,CH85057,Oregon,F,Doctor,1146399.10,45354.0,285.0,1/0/00,Personal Auto,Luxury SUV,540.141566
496,JC11405,Oregon,M,High School or Below,1096395.72,55687.0,276.0,1/0/00,Personal Auto,Luxury SUV,1324.800000
755,QW47320,Cali,F,Bachelor,1017971.70,14290.0,271.0,1/0/00,Personal Auto,Luxury SUV,1300.800000
633,UY18770,California,F,Bachelor,1017971.70,14290.0,271.0,1/0/00,Personal Auto,Luxury SUV,1300.800000
926,NT59303,Oregon,F,College,1011544.62,63528.0,256.0,1/0/00,Personal Auto,Luxury Car,1228.800000
196,AZ62651,Oregon,M,High School or Below,995170.77,56855.0,255.0,1/0/00,Corporate Auto,Luxury SUV,1836.000000
510,EX28656,Oregon,F,College,983033.76,25965.0,253.0,1/0/00,Personal Auto,Luxury SUV,1214.400000
248,FO35655,Oregon,M,Bachelor,867222.97,0.0,245.0,1/0/00,Corporate Auto,Luxury SUV,2345.413441
404,DJ91267,Nevada,F,Bachelor,2909123.94,34226.0,244.0,1/0/00,Personal Auto,Luxury SUV,494.395024
888,BZ65376,Arizona,M,Bachelor,858127.87,27689.0,239.0,1/2/00,Personal Auto,Luxury SUV,2893.239678
31,UL64533,Nevada,NaN,High School or Below,1897545.61,65999.0,237.0,1/0/00,Corporate Auto,Luxury SUV,615.927769
425,LC25393,California,Male,Bachelor,2777628.91,88220.0,230.0,1/0/00,Personal Auto,Luxury Car,151.528482
292,EU27538,Oregon,Male,Master,1804247.94,35704.0,225.0,1/0/00,Personal Auto,Luxury Car,358.281562
181,KC11055,Nevada,F,Bachelor,1693627.15,39411.0,217.0,1/2/00,Personal Auto,Luxury Car,1122.658899
840,PN98247,Cali,M,College,784016.58,58414.0,210.0,1/2/00,Personal Auto,Luxury SUV,1008.000000
757,ON59472,Arizona,M,High School or Below,1577139.34,21921.0,206.0,1/0/00,Corporate Auto,Luxury SUV,1254.137899
522,ZZ97035,California,M,College,2071494.04,0.0,203.0,1/0/00,Corporate Auto,Luxury Car,2027.724442
1058,UX92071,Oregon,M,High School or Below,674311.93,0.0,199.0,1/0/00,Personal Auto,Luxury SUV,955.200000
581,PR53785,Arizona,F,High School or Below,745723.78,0.0,198.0,1/1/00,Personal Auto,Luxury Car,1577.674417
1046,RG30482,Oregon,F,College,1366835.53,0.0,197.0,1/0/00,Personal Auto,SUV,1418.400000
435,TE35785,California,Male,Doctor,694842.22,0.0,196.0,1/2/00,Personal Auto,Luxury SUV,1337.063487
760,EA25683,WA,M,High School or Below,777853.23,63786.0,196.0,1/0/00,Corporate Auto,Luxury SUV,798.002689
978,XX88577,Cali,M,Bachelor,1572713.06,84824.0,196.0,1/0/00,Corporate Auto,SUV,319.820747
775,EK91340,Oregon,M,Bachelor,754661.35,31266.0,193.0,1/0/00,Corporate Auto,Luxury Car,926.400000
609,YE68736,California,F,Bachelor,772484.01,32051.0,193.0,1/1/00,Personal Auto,SUV,926.400000
1008,AM97901,Nevada,F,College,2298615.39,84831.0,192.0,1/0/00,Special Auto,Sports Car,1336.931716
123,SH36774,California,NaN,High School or Below,1502359.86,28262.0,192.0,1/0/00,Personal Auto,Luxury SUV,921.600000
541,AW77988,Oregon,Male,High School or Below,3585059.94,17588.0,192.0,1/0/00,Personal Auto,Luxury Car,1382.400000
207,SD64087,California,M,College,1501409.27,32961.0,190.0,1/0/00,Corporate Auto,SUV,912.000000
817,QW33258,Cali,M,Bachelor,708283.04,53310.0,189.0,1/3/00,Personal Auto,Luxury Car,1360.800000
901,TV82603,Cali,F,Bachelor,1489539.80,48081.0,188.0,1/0/00,Personal Auto,Luxury SUV,881.360959
944,ZJ73220,Arizona,F,College,1309258.58,0.0,188.0,1/0/00,Special Auto,Luxury Car,1353.600000
79,OM82309,California,NaN,Bachelor,5816655.35,61321.0,186.0,1/1/00,Personal Auto,Luxury Car,427.631210
418,EM29359,Nevada,Male,College,712659.65,17483.0,183.0,1/0/00,Personal Auto,Luxury Car,1317.600000
409,DP84567,California,M,High School or Below,2021630.88,0.0,183.0,1/0/00,Personal Auto,Luxury SUV,878.400000
871,ND41876,Arizona,M,High School or Below,724771.37,86122.0,182.0,1/1/00,Personal Auto,Luxury SUV,873.600000
810,KW56110,Oregon,M,Bachelor,1836155.53,0.0,182.0,1/0/00,Personal Auto,Luxury Car,1310.400000
434,IP69763,Washington,F,College,2191440.55,77311.0,181.0,1/0/00,Personal Auto,SUV,113.609508
519,FJ54907,Oregon,F,College,718097.10,42303.0,180.0,1/0/00,Personal Auto,Luxury SUV,1210.920949
429,DW19309,Oregon,Male,High School or Below,1422650.49,65726.0,177.0,1/0/00,Corporate Auto,SUV,849.600000

In [65]:
df.sort_values(by='Total Claim Amount').head(50)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Customer Lifetime Value (%)
872,PN21042,Arizona,M,Bachelor,453884.78%,82297.0,116.0,1/0/00,Personal Auto,Sports Car,0.382107,453884.78
45,HG65722,Oregon,NaN,Doctor,1281910.29%,10105.0,172.0,1/3/00,Personal Auto,SUV,0.517753,1281910.29
601,WO29605,Oregon,F,College,243687.51%,48875.0,61.0,1/0/00,Personal Auto,Two-Door Car,1.838367,243687.51
664,TK60799,Arizona,F,High School or Below,416001.81%,96263.0,103.0,1/0/00,Personal Auto,SUV,1.924709,416001.81
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN
982,WH32183,Cali,M,Bachelor,832307.40%,97245.0,70.0,1/0/00,Personal Auto,Four-Door Car,4.110585,832307.40
790,YG20683,WA,M,College,286011.17%,51159.0,72.0,1/0/00,Personal Auto,Four-Door Car,4.238626,286011.17
337,XX84133,California,M,Bachelor,525473.43%,34476.0,67.0,1/1/00,Corporate Auto,Four-Door Car,5.395300,525473.43
71,MO91628,Oregon,NaN,Master,261447.43%,65186.0,65.0,1/0/00,Personal Auto,Two-Door Car,5.434505,261447.43
716,XP64922,Oregon,F,College,297431.49%,23333.0,74.0,1/0/00,Corporate Auto,Four-Door Car,5.622751,297431.49
1010,TR81766,Cali,F,College,746292.63%,70263.0,93.0,1/0/00,Corporate Auto,Two-Door Car,7.345946,746292.63
368,OJ90342,Oregon,female,Bachelor,245744.09%,29486.0,62.0,1/0/00,Personal Auto,Four-Door Car,7.646763,245744.09
153,BS77946,Arizona,F,Bachelor,975330.71%,17514.0,127.0,1/0/00,Personal Auto,SUV,8.312729,975330.71
703,JJ76159,California,M,College,243468.12%,96045.0,61.0,1/0/00,Corporate Auto,Four-Door Car,8.582971,243468.12
634,RA49085,California,F,College,277283.92%,37038.0,71.0,1/1/00,Corporate Auto,Four-Door Car,9.071305,277283.92
327,EW38459,Nevada,F,Bachelor,256715.15%,40864.0,65.0,1/0/00,Corporate Auto,Four-Door Car,9.515280,256715.15
92,CZ33664,Oregon,NaN,Bachelor,252765.38%,80744.0,63.0,1/0/00,Corporate Auto,Four-Door Car,11.879037,252765.38
987,MB90871,Oregon,F,College,584741.52%,23496.0,77.0,1/0/00,Special Auto,Four-Door Car,13.164097,584741.52
34,SK67821,Oregon,NaN,Bachelor,493291.63%,37260.0,62.0,1/0/00,Corporate Auto,Four-Door Car,15.437681,493291.63
676,EB59129,Oregon,F,Bachelor,259574.80%,47234.0,65.0,1/0/00,Personal Auto,Four-Door Car,15.631363,259574.80
684,HX44948,Oregon,M,Bachelor,575991.08%,85448.0,72.0,1/0/00,Special Auto,Four-Door Car,16.034510,575991.08
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,536307.65
600,BS83666,Oregon,M,Bachelor,736618.83%,70014.0,62.0,1/0/00,Corporate Auto,Four-Door Car,17.742954,736618.83
41,MB98372,Oregon,NaN,College,277104.50%,50071.0,71.0,1/0/00,Corporate Auto,Two-Door Car,18.918935,277104.50
863,ZU93025,Oregon,F,College,277104.50%,50071.0,71.0,1/0/00,Personal Auto,Two-Door Car,18.918935,277104.50
1015,MG10140,Oregon,F,College,374675.16%,41479.0,94.0,1/1/00,Personal Auto,Two-Door Car,19.575683,374675.16
406,TR67616,Oregon,M,High School or Below,473136.70%,30686.0,61.0,1/0/00,Corporate Auto,Four-Door Car,19.938981,473136.70
21,QK46697,Washington,M,Bachelors,617710.93%,61040.0,79.0,1/1/00,Personal Auto,Two-Door Car,20.382876,617710.93
259,EM66435,Oregon,F,Bachelor,262331.54%,80210.0,65.0,1/0/00,Corporate Auto,Four-Door Car,20.543176,262331.54
27,HS14476,Washington,M,College,916206.32%,29723.0,80.0,1/0/00,Personal Auto,Four-Door Car,20.985105,916206.32
762,MC71942,Cali,F,High School or Below,791919.70%,82877.0,99.0,1/1/00,Personal Auto,Two-Door Car,22.819088,791919.70
553,KL57176,Oregon,F,College,450540.58%,67801.0,115.0,1/1/00,Personal Auto,SUV,23.810491,450540.58
33,HD95276,Washington,F,College,473787.17%,0.0,130.0,1/0/00,Personal Auto,SUV,23.820158,473787.17
929,QN10888,Oregon,F,High School or Below,772699.36%,87620.0,64.0,1/0/00,Personal Auto,Four-Door Car,24.063693,772699.36
898,GL20444,Nevada,F,Master,1377836.93%,91474.0,113.0,1/0/00,Corporate Auto,Two-Door Car,24.087774,1377836.93
453,NM88660,Nevada,M,Master,358588.41%,49080.0,91.0,1/0/00,Corporate Auto,Four-Door Car,25.299000,358588.41
172,QR87004,Nevada,F,College,845696.19%,25141.0,73.0,1/1/00,Personal Auto,Four-Door Car,25.438063,845696.19
80,ZU35962,California,NaN,College,802522.94%,0.0,77.0,1/0/00,Personal Auto,Two-Door Car,25.807685,802522.94
881,XC16387,Arizona,F,High School or Below,504041.24%,46072.0,64.0,1/0/00,Personal Auto,Four-Door Car,25.934064,504041.24
902,BB82067,Oregon,M,Doctor,975604.50%,67632.0,121.0,1/0/00,Personal Auto,Sports Car,26.951627,975604.50
793,TN36521,Arizona,F,College,2498022.55%,88440.0,70.0,1/0/00,Personal Auto,Two-Door Car,27.145151,2498022.55
855,OB69153,Cali,M,Bachelor,258218.53%,68074.0,65.0,1/0/00,Personal Auto,Four-Door Car,27.987867,258218.53
76,DZ87709,Oregon,NaN,High School or Below,559216.14%,71811.0,71.0,1/0/00,Personal Auto,Four-Door Car,29.034160,559216.14
964,GB45753,Cali,M,High School or Below,543980.42%,61546.0,68.0,1/0/00,Corporate Auto,Two-Door Car,29.209521,543980.42
108,EP80820,California,NaN,Bachelor,592874.85%,40531.0,74.0,1/0/00,Personal Auto,Two-Door Car,30.567357,592874.85
1065,XD85577,Cali,M,Bachelor,284226.69%,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869,284226.69
44,YD87931,Washington,M,Doctor,495165.61%,46896.0,35354.0,1/1/00,Personal Auto,Four-Door Car,31.707317,495165.61
968,JO63462,Cali,M,Bachelor,330799.90%,79797.0,84.0,1/0/00,Corporate Auto,Two-Door Car,31.755601,330799.90
53,NW21079,Washington,F,Master,487938.48%,67163.0,61.0,1/2/00,Personal Auto,Two-Door Car,33.192803,487938.48
721,YM79169,California,M,Bachelor,261275.67%,19003.0,71.0,1/0/00,Personal Auto,Two-Door Car,34.651305,261275.67

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [73]:
# Your code here
frequency_state = df['ST'].value_counts().tail(5).sort_values()
frequency_state

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [79]:
df['Policy Type'].value_counts().head(1).index[0]

'Personal Auto'

In [75]:
df['Policy Type'].value_counts().idxmax()

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [85]:
filter_personal = df['Policy Type']=='Personal Auto'
personal_auto = df.loc[filter_personal]
filter_corporate = df['Policy Type']=='Corporate Auto'
corporate_auto = df.loc[filter_corporate]

In [86]:
filter_personal = "`Policy Type`=='Personal Auto'"
personal_auto = df.query(filter_personal)
filter_corporate = "`Policy Type`=='Corporate Auto'"
corporate_auto = df.query(filter_corporate)

In [9]:
df['Policy Type'].value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [98]:
780+234

1014

In [87]:
# Your code here
personal_auto = df.sort_values(by='Policy Type',ignore_index=True).loc[:233]
corporate_auto = df.sort_values(by='Policy Type',ignore_index=True).loc[234:1013]

In [89]:
personal_auto['Income'].mean()

41390.31196581197

In [90]:
corporate_auto['Income'].mean()

38180.69871794872

In [91]:
df.groupby('Policy Type')['Income'].mean()

Policy Type
Corporate Auto    41390.311966
Personal Auto     38180.698718
Special Auto      45954.701754
Name: Income, dtype: float64

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [106]:
df.describe().round(2)

,Income,Monthly Premium Auto,Total Claim Amount,Customer Lifetime Value (%)
count,1071.00,1071.00,1071.00,1068.00
mean,39295.70,193.23,404.99,793690.26
std,30469.43,1601.19,293.03,643478.41
min,0.00,61.00,0.38,200435.07
25%,14072.00,68.00,202.16,403408.00
50%,36234.00,83.00,354.73,588174.24
75%,64631.00,109.50,532.80,896287.20
max,99960.00,35354.00,2893.24,5816655.35

In [109]:
len(df)

4008

In [107]:
1071*0.25 # 25% of number of lines with valid numbers

267.75

In [111]:
df.sort_values('Total Claim Amount',ascending=False,ignore_index=True).loc[:267]

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Customer Lifetime Value (%)
0,BZ65376,Arizona,M,Bachelor,858127.87%,27689.0,239.0,1/2/00,Personal Auto,Luxury SUV,2893.239678,858127.87
1,FO35655,Oregon,M,Bachelor,867222.97%,0.0,245.0,1/0/00,Corporate Auto,Luxury SUV,2345.413441,867222.97
2,ZZ97035,California,M,College,2071494.04%,0.0,203.0,1/0/00,Corporate Auto,Luxury Car,2027.724442,2071494.04
3,AZ62651,Oregon,M,High School or Below,995170.77%,56855.0,255.0,1/0/00,Corporate Auto,Luxury SUV,1836.000000,995170.77
4,PR53785,Arizona,F,High School or Below,745723.78%,0.0,198.0,1/1/00,Personal Auto,Luxury Car,1577.674417,745723.78
...,...,...,...,...,...,...,...,...,...,...,...,...
263,KY33386,WA,Femal,High School or Below,800739.94%,0.0,112.0,1/0/00,Personal Auto,Sports Car,537.600000,800739.94
264,HG39060,Oregon,Male,Bachelor,511068.08%,0.0,74.0,1/0/00,Corporate Auto,Four-Door Car,532.800000,511068.08
265,AW73065,Oregon,F,High School or Below,279190.65%,0.0,74.0,1/0/00,Personal Auto,Four-Door Car,532.800000,279190.65
266,OZ97704,California,F,High School or Below,1311752.22%,84311.0,111.0,1/4/00,Personal Auto,SUV,532.800000,1311752.22
267,WU60905,California,F,High School or Below,861066.75%,0.0,111.0,1/0/00,Corporate Auto,SUV,532.800000,861066.75

In [103]:
filter_claim = df['Total Claim Amount']>=532.8
df.loc[filter_claim]

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,Customer Lifetime Value (%)
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,697953.59
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,1288743.17
17,OE15005,Cali,NaN,College,394524.16%,28855.0,101.0,1/0/00,Personal Auto,SUV,647.442031,394524.16
23,TZ98966,Nevada,NaN,Bachelor,245019.10%,0.0,73.0,1/3/00,Corporate Auto,Four-Door Car,554.376763,245019.10
26,US89481,California,NaN,Bachelor,394637.21%,0.0,111.0,1/0/00,Personal Auto,Four-Door Car,799.200000,394637.21
...,...,...,...,...,...,...,...,...,...,...,...,...
1059,YG44474,Oregon,M,College,1401472.13%,54193.0,117.0,1/0/00,Corporate Auto,SUV,720.752945,1401472.13
1061,RY92647,Cali,F,Bachelor,1050677.17%,0.0,92.0,1/0/00,Personal Auto,Four-Door Car,546.524896,1050677.17
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000,323912.47
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000,462680.11
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000,899704.02