In [ ]:
# For those using Postgres
import pandas as pd
import numpy as np
import psycopg2
from sqlalchemy import create_engine,text
import getpass  # To get the password without showing the input
password = getpass.getpass()
bd = "sakila"
connection_string = 'postgresql+psycopg2://postgres:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

In [1]:
# for those using mysql
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine, text
import getpass  # To get the password without showing the input
password = getpass.getpass()
bd = "sakila"
connection_string = 'mysql+pymysql://root:' + password + '@localhost/'+bd
engine = create_engine(connection_string)
engine

········

Engine(mysql+pymysql://root:***@localhost/sakila)

In [24]:
def rentals_month(engine,month=5,year=2005):
    if isinstance(month,(int,float)) and isinstance(year,(int,float)):
        month = int(month)
        year = int(year)
        with engine.connect() as connection:
            query= f'''SELECT 
                        YEAR(rental_date) as year,
                        MONTH(rental_date) as month,
                        customer_id
                    FROM
                    rental
                    WHERE month(rental_date)={month} and year(rental_date)={year}'''
            df = pd.read_sql(query,con=connection) 
        return df
    else:
        print('Month and year should be numeric!')


def rentals_month_2(engine,month=5,year=2005):

    with engine.connect() as connection:
        query= text(f'''SELECT 
                        YEAR(rental_date) as year,
                        MONTH(rental_date) as month,
                        customer_id
                    FROM
                    rental
                    WHERE month(rental_date)={month} and year(rental_date)={year}''')
        result = connection.execute(query)
        df = pd.DataFrame(result.all())
    return df

In [27]:
df= rentals_month(engine,month=8)

In [59]:
def rental_count_month(df):
    year=df['year'].unique()[0]
    month=df['month'].unique()[0]
    #df.groupby('customer_id').size().reset_index(name=f'rentals_{month}_{year}')
    return df.groupby('customer_id',as_index=False).count()[['customer_id','year']].rename(columns={'year':f'rentals_{month}_{year}'})
    
def rental_count_month_2(df):
    year=df['year'].unique()[0]
    month=df['month'].unique()[0]
    return pd.pivot_table(data=df,index='customer_id',values='year',aggfunc='count').rename(columns={'year':f'rentals_{month}_{year}'}).reset_index()

def rental_count_month_3(engine,month=5,year=2005):
    if isinstance(month,(int,float)) and isinstance(year,(int,float)):
        month = int(month)
        year = int(year)
        with engine.connect() as connection:
            query= f'''SELECT 
                        customer_id,
                        count(*) as rentals_{month}_{year}
                    FROM
                    rental
                    WHERE month(rental_date)={month} and year(rental_date)={year}
                    GROUP BY customer_id'''
            df = pd.read_sql(query,con=connection) 
        return df
    else:
        print('Month and year should be numeric!')

In [61]:
df1=rental_count_month_3(engine)
df2=rental_count_month_3(engine,month=8)

In [71]:
def compare_rentals(first_dataframe,second_dataframe):
    df_merged = pd.merge(first_dataframe,second_dataframe,how='outer').fillna(0)
    df_merged['difference'] = df_merged.iloc[:,2] - df_merged.iloc[:,1]
    return df_merged

In [72]:
compare_rentals(df1,df2)

     customer_id  rentals_5_2005  rentals_8_2005  difference
0              1             2.0              11         9.0
1              2             1.0              11        10.0
2              3             2.0               7         5.0
3              5             3.0              13        10.0
4              6             3.0              12         9.0
..           ...             ...             ...         ...
594          583             0.0               5         5.0
595          585             0.0               6         6.0
596          591             0.0               9         9.0
597          592             0.0               8         8.0
598          598             0.0               5         5.0

[599 rows x 4 columns]